
<body ng-app="employeeApp" ng-controller="employeeController">
    <div class="content-wrapper">
      <h2>Angular Profile Editing</h2>

      <!-- <div class="everyone-wrapper">
          <section ng-switch on="(editIndex == $index)"
                   ng-repeat="person in employeeArray track by $index"
                   class="clearfix">
              <div class="img-wrapper clearfix">
                  <img ng-src="{{person.imgSrc}}">
              </div>
              <div class="info-wrapper clearfix">
               
                  <h3 ng-switch-when="true">
                      <input ng-model="editObject.firstName" placeholder="First Name" type="text"/>
                      <input ng-model="editObject.lastName" placeholder="Last Name" type="text"/>
                  </h3>

                  <span  ng-switch-when="true" class="phone">
                      <input ng-model="editObject.phone" type="text" placeholder="Phone"/>
                  </span>
                  <span  ng-switch-when="true" class="email">
                      <input ng-model="editObject.email" type="text" placeholder="Email"/>
                  </span>

              </div>
              <div class="edit-wrapper clearfix">

                  
                  <button class="yellow" ng-switch-default ng-click="editingPerson($index)">edit</button>
               
                  <button class="green" ng-switch-when="true" ng-click="saveEdit($index)">save</button>
                  <button class="red" ng-switch-when="true" ng-click="cancelEdit()">X</button>
              </div>

          </section>
      </div> -->
  </div>
</body>