<div class="timeline">
    <mat-card class="post">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <img src="../../assets/img/avatar1.svg" alt="Avatar" style="width:60px">
            </div>
        <mat-card-subtitle>{{item ? item.username : ""}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="">
        <br><br>
        <mat-card-content>
          <p>
            {{item ? item.tweet : ""}}
          </p>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
            <button mat-icon-button matTooltip="Like it!!!">
                <mat-icon color="warn">favorite_border</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Retweet">
                <mat-icon color="primary">repeat</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Comment">
                <mat-icon color="primary">comment</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>